/**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


$pink: #e84393;
$black: #333;
$white: #fff;
$light-color: #666;
$light-bg: #eee;
$border: .2rem solid $black;

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


/* ======= Header Section/Seção de cabeçalho ======= */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    padding: 0 9%;

    .logo {
        font-size: 2.5rem;
        color: $black;
        font-weight: bolder;
        margin-right: auto;
    }

    .navbar {

        ul {
            list-style: none;

            li {
                position: relative;
                float: left;

                &:hover ul {
                    display: block;
                }

                a {
                    font-size: 1.7rem;
                    color: $light-color;
                    padding: 2rem;
                    display: block;

                    &:hover {
                        background: $light-bg;
                    }
                }

                ul {
                    position: absolute;
                    left: 0;
                    width: 20rem;
                    background: $white;
                    display: none;

                    li {
                        width: 100%;
                    }
                }
            }
        }
    }

    .icons div,
    .icons a {
        font-size: 2.5rem;
        color: $black;
        cursor: pointer;
        margin-left: 2rem;

        &:hover {
            color: $pink;
        }
    }

    /*Search form */
    .search-form {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: $border;
        background: $white;
        height: 6rem;
        align-items: center;
        padding: 2rem;

        input {
            width: 100%;
            height: 100%;
            padding-right: 1.7rem;
            color: $light-color;
            text-transform: none;
        }

        label {
            font-size: 2.5rem;
            color: $black;
            cursor: pointer;

            &:hover {
                color: $pink;
            }
        }
    }
}

#menu-btn {
    display: none;
}














